---
import LoopPage from '../modules/LoopPage/index.svelte'
---


<html>
    <head>
        <meta name="generator" content={Astro.generator}></meta>
    </head>
    <body>
        <main>
            <LoopPage client:idle />
        </main>
    </body>
</html>
<style>
    body {
        margin: 0;
    }
</style>